@import url('https://fonts.googleapis.com/css?family=Roboto:700');

#container {
	margin-top: 7rem;
	margin-bottom: -10.5rem;
	color: #999;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	width: 100%;
	bottom: 45%;
	display: block;
	text-align: center;
	z-index: 0;
}

#flip {
	height: 50px;
	overflow: hidden;
}

#flip > div > div {
	color: #fff;
	padding: 2px 12px 3px 12px;
	height: 45px;
	margin-bottom: 45px;
	display: inline-block;
}

#flip div:first-child {
	animation: show 5s linear infinite;
}

#flip div div {
	background: #42c58a;
}
#flip div:first-child div {
	background: #4ec7f3;
}
#flip div:last-child div {
	background: #dc143c;
}

@keyframes show {
	0% {
		margin-top: -270px;
	}
	5% {
		margin-top: -180px;
	}
	33% {
		margin-top: -180px;
	}
	38% {
		margin-top: -90px;
	}
	66% {
		margin-top: -90px;
	}
	71% {
		margin-top: 0px;
	}
	99.99% {
		margin-top: 0px;
	}
	100% {
		margin-top: -270px;
	}
}
#flip {
    display: none;
}
@media only screen and (max-width: 725px) {
	.MuiStepLabel-labelContainer span {
		margin-top: 1rem !important;
		margin-left: -2rem !important;
		width: 3rem !important;
		position: absolute !important;
		font-size: 0.6rem !important;
	}
	
	// .makeStyles-drawer-287 {
	//     display: none !important;
	// }
	.makeStyles-h1-335 {
		padding-top: 0 !important;
	}
	.MuiButton-label {
		font-size: 0.5rem;
	}
	.MuiToolbar-gutters {
		height: 3rem;
	}
	.MuiSvgIcon-root {
		display: block !important;
    }
    .MuiIconButton-label{
        display: inline !important;
    }
    .MuiTypography-h6{
        font-size: .7rem !important;
    }
    
    
}
