<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <title>Steve's Jobs</title>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <link rel="stylesheet" href="/static/bundle.css" />
  </head>
  <body>
    <div id="root"></div>
    <script src="/static/bundle.js"></script>
  </body>
</html>
