html::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

html::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #ec6953;
}
html{
	scroll-behavior: smooth;
}
.header {
	display: flex;
	flex-direction: row;
	margin: 40px 10%;
	position: relative;
}
.header .logo {
	display: flex;
	align-items: center;
	font-weight: 700;
	color: #bdbdbd;
}
.header .logo img {
	width: 35px;
	margin-right: 5px;
}
.header ul {
	list-style: none;
	display: flex;
	margin-left: 5%;
	width: 30%;
	justify-content: space-around;
	font-weight: 700;
	color: #878787;
	margin-top: -1rem;
}
.header ul li {
	margin: 0 5px;
}
.header:after {
	content: '';
	position: absolute;
	top: -200px;
	left: -250px;
	z-index: -1;
	width: 300px;
	height: 300px;
	border-radius: 300px;
	border: 20px solid #f5f5f5;
}
.main {
	display: flex;
	align-items: center;
	margin-left: 10%;
}
.left_side {
	width: 40%;
}
.left_side h1 {
	font-weight: 700;
	font-size: 50px;
	background: #ec6953;
	background: linear-gradient(to right, #ef5c5b, #ec6953, #ec6953);
	-webkit-background-clip: text;
	color: transparent;
}
.left_side h4 {
	width: 80%;
	font-size: 0.9em;
	font-weight: 500;
	line-height: 22px;
	color: #878787;
}
.left_side button {
	padding: 15px 30px;
	margin: 20px 10px 0 0;
}
.left_side .social {
	margin: 60px 0 0;
}
.left_side .social button {
	padding: 10px;
}
p.show_more {
	color: #878787;
	display: flex;
	align-items: center;
	margin-left: 10%;
}
p.show_more i {
	margin-left: 15px;
	font-size: 40px;
	color: #d3d3d3;
	-webkit-text-stroke: 2px white;
}
.main_btn {
	border: none;
	outline: none;
	cursor: pointer;
	background: none;
	font-weight: 500;
	color: white;
	position: relative;
	background: #ec6953;
	background: -webkit-linear-gradient(to right, #ef5c5b, #ec6953, #ec6953);
	background: linear-gradient(to right, #ef5c5b, #ec6953, #ec6953);
	letter-spacing: 1px;
	border-radius: 30px;
}
.main_btn:hover {
	border: 2px solid #ec6953;
	background: none;
	color: #ec6953;
}
.main_btn.second {
	background: #e38959;
}
.outline_btn {
	border: 2px solid #ec6953;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	background: none;
	color: #ec6953;
	position: relative;
	letter-spacing: 1px;
}
.outline_btn:hover {
	background: #ec6953;
	color: white;
}
.right_side {
	width: 55%;
	position: relative;
}
.right_side > div {
	background-image: url('https://images.unsplash.com/photo-1544717302-de2939b7ef71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
	background-size: cover;
	background-position: right center;
	position: relative;
	float: right;
	width: 65%;
	height: 62vh;
}
.right_side > div:after {
	content: '';
	width: 70%;
	height: 92vh;
	position: absolute;
	z-index: -1;
	left: 5%;
	top: -122px;
	background: #ec6953;
	background: -webkit-linear-gradient(to right top, #ef5c5b, #ec6953, #ec6953);
	background: linear-gradient(to right top, #ef5c5b, #ec6953, #ec6953);
}
.right_side > div:before {
	content: '';
	position: absolute;
	top: 260px;
	left: -100px;
	width: 50px;
	height: 50px;
	border-radius: 80px;
	border: 40px solid #ffd8c7;
}
.right_side:after {
	content: '';
	position: absolute;
	top: -50px;
	right: -55px;
	z-index: -1;
	width: 150px;
	height: 150px;
	background-image: radial-gradient(circle at 3px 3px, #ec6953 3px, transparent 0);
	background-size: 20px 20px;
}
.section {
	display: flex;
	margin: 150px 10%;
}
.section .item {
	margin-right: 25px;
	padding: 40px 30px;
	width: 40%;
	border: 2px solid #ec6953;
	border-radius: 25px;
	margin: .5rem;
}
.section .item:hover {
	border: 0;
	border-radius: 25px;
	-webkit-box-shadow: 5px 5px 20px -6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 5px 5px 20px -6px rgba(0, 0, 0, 0.25);
	box-shadow: 5px 5px 20px -6px rgba(0, 0, 0, 0.25);
}
.section .item button {
	padding: 20px;
	border-radius: 40px;
	font-size: 20px;
}
.section .item button:hover {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(236, 105, 83, 0.9);
	-moz-box-shadow: 0px 0px 30px 0px rgba(236, 105, 83, 0.9);
	box-shadow: 0px 0px 30px 0px rgba(236, 105, 83, 0.9);
}
.section .item h5 {
	font-weight: 700;
	font-size: 15px;
	position: relative;
	margin-bottom: 7px;
}
.section .item h5::after {
	content: '';
	width: 60px;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -25px;
	background: #ec6953;
	background: -webkit-linear-gradient(to right top, #ef5c5b, #ec6953, #ec6953);
	background: linear-gradient(to right top, #ef5c5b, #ec6953, #ec6953);
}
.section .item p {
	color: #878787;
	line-height: 25px;
}
.section .text_content {
	margin-left: 30px;
}
.section .text_content h2 {
	font-weight: 700;
	font-size: 35px;
}
.section .text_content p {
	width: 80%;
	color: #878787;
	line-height: 25px;
}
.section .text_content button {
	padding: 10px;
}
.section .text_content button:first-of-type {
	padding: 15px 30px;
	margin: 20px 10px 0 0;
}
.section .text_content i {
	font-size: 20px;
	margin-left: 4px;
	color: transparent;
	-webkit-text-stroke-width: 1.8px;
	-webkit-text-stroke-color: #ec6953;
}
@media only screen and (max-width: 1000px) {
	main {
		flex-direction: column;
	}
	.left_side,
	.right_side {
		width: 100%;
	}
	.left_side .social {
		margin: 20px 0 40px;
	}
	.right_side > div {
		float: none;
		margin: 0 auto;
	}
	.right_side:after {
		right: 55px;
	}
	p.show_more {
		margin-top: 65px;
	}
	.right_side div {
		width: 90%;
	}
	.right_side div:after {
		top: -12px;
		height: 70vh;
	}
	.section {
		margin-top: 30px;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
	}
	.section .item {
		width: 35%;
	}
	.section .text_content {
		float: left;
	}
}
@media only screen and (max-width: 1220px) {
	.section {
		margin-top: 75px;
		-webkit-flex-flow: row wrap;
		justify-content: space-around;
	}
	.section .item {
		width: 35%;
	}
}
@media only screen and (max-width: 725px) {
	.section .item {
		width: 100%;
	}
	body {
		font-size: 14px;
	}
	.right_side div {
		width: 100%;
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 5rem 0;
	}
}

.page {
	padding: 40px;
}
.footer__container {
	height: 12vh;
	text-align: center;
	padding: 2rem;
	border-top: 0.03px solid lightgray;
	background-color: #ec6953;
	width: 100vw;
	margin-left: -3.2rem;
	margin-bottom: -3rem;
	color: white;
}
#splash {
	background: #ec6953;
	background-repeat: repeat-y;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	animation: splash 1s ease-in;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

#loader {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, 0);
}

#loader:after {
	content: '';
	position: absolute;
	left: 50%;
	margin-left: -8px;
	bottom: -170px;
	width: 3px;
	background: #fff;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 50%,
		rgba(255, 255, 255, 0) 100%
	);
	height: 200px;
}

#loader:before {
	content: '';
	position: absolute;
	left: 50%;
	margin-left: 8px;
	bottom: -190px;
	width: 3px;
	background: #000;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 100%);
	height: 200px;
}

#splash .anim {
	height: 100%;
	position: absolute;
	left: 50%;
	width: 100px;
	transform: translate(-50%, 100%);
	animation: loader 1s linear;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes loader {
	0% {
		transform: translate(-50%, 110%);
	}
	30% {
		transform: translate(-50%, 50%);
	}
	100% {
		transform: translate(-50%, 0%);
	}
}

@keyframes splash {
	0% {
		transform: translate(0%, 0%);
	}
	50% {
		transform: translate(0%, 0%);
	}
	100% {
		transform: translate(0%, -100%);
	}
}
/////////////////////////

.hero-box-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	margin-left: -3.2rem;
	z-index: 2;
}
.hero-box {
	flex-basis: 33.3%;
	background: rgb(240, 240, 240);
	min-height: 300px;
	padding: 60px 30px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	text-decoration: none;
	position: relative;
	overflow: hidden;
}
.hero-box:hover {
	.hero-box__circle {
		width: 100%;
		height: 100%;
		transition: width 0.3s ease, border-bottom-left-radius 0.3s ease, border-bottom-right-radius 0.1s ease,
			border-top-left-radius 0.1s ease, border-top-right-radius 0.1s ease;
		top: 0;
		right: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		// transform-origin:center;

		&:after {
			transform: scale(1);
			transition: 0.2s ease;
			transition-delay: 0.1s;
		}
		&:before {
			transition: 0.2s ease;
			transition-delay: 0.1s;
			// opacity:.3;
			right: 100px;
			top: 100px;
		}
	}

	.hero-box__body {
		color: rgb(230, 230, 230);
		transition: 0.15s ease;
		transition-delay: 0.15s;
	}
	.hero-box__title {
		color: rgb(255, 255, 255);
		transition: 0.1s ease;
		transition-delay: 0.15s;
	}
}
.hero-box__title {
	font-weight: 600;
	position: relative;
	color: #091517;
}

.hero-box__body {
	font-size: 14px;
	color: rgb(150, 150, 150);
	position: relative;
}

.hero-box__circle {
	width: 50px;
	height: 50px;
	background: rgb(200, 200, 200);
	border-top-left-radius: 100rem;
	border-top-right-radius: 100rem;
	border-bottom-right-radius: 100rem;
	border-bottom-left-radius: 100rem;
	position: absolute;
	display: block;
	right: 50px;
	top: 50px;
	transition: width 0.15s ease, height 0.15s ease, border-bottom-left-radius 0.3s ease,
		border-bottom-right-radius 0.3s ease, border-top-left-radius 0.3s ease, border-top-right-radius 0.3s ease;

	&:after {
		width: 300px;
		height: 300px;
		position: absolute;
		top: -100px;
		right: -100px;
		background: rgba(255, 255, 255, 0.2);
		content: '';
		border-radius: 100rem;
		transform: scale(0);
	}
	&:before {
		width: 25px;
		height: 25px;
		opacity: 0;
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItYXJyb3ctdXAtcmlnaHQiPjxsaW5lIHgxPSI3IiB5MT0iMTciIHgyPSIxNyIgeTI9IjciPjwvbGluZT48cG9seWxpbmUgcG9pbnRzPSI3IDcgMTcgNyAxNyAxNyI+PC9wb2x5bGluZT48L3N2Zz4=);
		background-size: cover;
		transition: 0.5s ease;
	}
}

.hero-box__circle--green {
	background-color: #00c569;
}
.hero-box__circle--blue {
	background-color: #0011c6;
}
.hero-box__circle--orange {
	background-color: #fd7d02;
}

.header-branding,
.header-links {
	display: inherit;
	align-items: center;
}
.header-branding__title {
	color: #161f75;
	margin-right: 60px;
}
.header-branding__link {
	color: #091517;
	text-decoration: none;
	padding: 15px 30px;
	font-weight: 600;
	border-radius: 100rem;
	background: rgb(240, 240, 240);
}

.header-links__anchor {
	text-decoration: none;
	font-size: 15px;
	color: #091517;
	margin-right: 40px;
}
.header-links__cart {
	color: #091517;
}

.header-links__menu {
	border-radius: 0;
	border: 0;
	background: #091517;
	height: 2px;
	width: 20px;
	font-size: 0;
	position: relative;
	margin: 0 0 5px 20px;
	cursor: pointer;

	&:after,
	&:before {
		width: inherit;
		height: inherit;
		background: inherit;
		position: absolute;
		content: '';
		left: 0;
	}
	&:after {
		top: -5px;
	}
	&:before {
		top: 5px;
	}
}

.hero-content {
	margin: 0 50px;
	height: 600px;
	display: flex;
	align-items: flex-start;
	padding: 2rem 0;
	position: relative;
	z-index: 2;
}
.hero-content__title {
	color: #091517;
	max-width: 50%;
}
.hero-content__links {
	position: absolute;
	bottom: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	ul li {
		list-style: none;
		display: inline-block;
	}
	a {
		text-decoration: none;
		color: #091517;
		font-size: 14px;
		margin: 0 20px;
	}
}
.hero-content__links__ul--light {
	li a {
		color: rgb(150, 150, 150);
	}
}

@media only screen and (max-width: 1000px) {
	.hero-box-container {
		flex-wrap: wrap;
	}
	.hero-box {
		flex-basis: 50%;
		&:last-of-type {
			flex-basis: 100%;
		}
	}
	.hero-content {
		height: 325px;
		flex-wrap: wrap;
	}
	.hero-content__title {
		max-width: 100%;
	}

	.hero-content__links a {
		padding: 10px 15px;
		background: rgb(240, 240, 240);
		border-radius: 100rem;
		margin: 20px 0;
	}
	.hero-content__links {
		position: relative;
	}
}

@media only screen and (max-width: 850px) {
	.header-branding__link {
		display: none;
	}
	// .hero-content__links{
	//   display:none;
	// }
	.hero-content {
		margin: 0 20px;
	}

	.hero-box-container {
		position: relative;
	}

	.hero-content__links {
		display: none;
	}
}

@media only screen and (max-width: 710px) {
	.hero-box {
		flex-basis: 100%;
	}
	.header-links__anchor {
		display: none;
	}

}
